.red {
	color: red;
}

.green {
	color: green;
}

.right{
	float: right;
}

#messages_container .message{
	background: #f0f0f0;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 10px;
	width: 60%;
}

#messages_container .message.own-message{
	background-color: lightgreen;
	width: 60%;
	margin-left: 40%;
}

#messages_container {
	overflow: auto;
	height: 60%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#message-input {
	width: 80%;
	display: inline;
}

#sendButton {
	width: 14%;
	margin-left: 6%;
}

#translator-container {
	background: #c0c0c0;
	padding: 10px;
}

#translator-container input{
	resize: none;
	display: inline;
	width: 40%;
	margin: 0 5%;
}

#translator-container div{
	text-align: right;
}

#translator-container div span{
	float: left;
}

#input-container{
	margin-top: 10px;
}

.delete-exchange-button{
	position: absolute;
	top: 0;
	right: 30px;
}

.report-user-button{
	position: absolute;
	top: 0;
	right: 170px;
}