<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/bootstrap/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='/public/stylesheets/signin.css' rel='stylesheet' type='text/css'>
    <script src="/javascripts/socket.io-1.2.0.js"></script>
    <script src="/javascripts/private_chat.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      User Name: <span id="current_user_name"><%= user.username %></span>
    </p>

    <p class='hidden'>Room id: <span id="room_id"><%= room_id %></span></p>

    Users in this room:
    <div id="online-users">
    </div>

    <div id="chat-messages">
    </div>

	<form>
	    <input id="message-input" autocomplete="off" />
	    <button>Send</button>
	</form>
  </body>
</html>
