<!-- Author: Eben Bitonte -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap used for dashboard template -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/bootstrap/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='/public/stylesheets/signin.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<div class='container'>
  		<form action='create_exchange' method='post'>
  			<select name='language' class='form-control'>
  				<% for(var i = 0; i < languages.length; ++i) { %>
  				<option value=<%=languages[i]%>> <%=languages[i]%> </option>
  				<% } %>
  			</select>
  			<button class='btn btn-lg btn-success btn-block' type='submit'> Create Exchange </button>
  		</form>
  	</div>
  </body>