<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id='new_user' action='create' method='post'>
    	<div> username: <input type='text' name='username'/></div>
    	<div> email: <input type='text' name='email'/></div>
    	<div> password: <input type='password' name='password'/></div>
    	<div> <input href='/users/new' type='submit' value='create accout'/></div>
    </form>
  </body>
</html>
